<template name="postSubmit">
  <form class="main form" id="submitThis">
    <div class="form-group">
      <label class="control-label" for="url">Користувач</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="Ввідіть імя користувача" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Новий пост</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Напишіть свій пост" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>